# flyctl launch added from node_modules/emscripten/emsdk/.gitignore
node_modules/emscripten/emsdk/**/clang
node_modules/emscripten/emsdk/**/emscripten
node_modules/emscripten/emsdk/**/emsdk_set_env.bat
node_modules/emscripten/emsdk/**/emsdk_set_env.sh
node_modules/emscripten/emsdk/**/git
node_modules/emscripten/emsdk/**/node
node_modules/emscripten/emsdk/**/python
node_modules/emscripten/emsdk/**/temp
node_modules/emscripten/emsdk/**/zips
node_modules/emscripten/emsdk/**/crunch
node_modules/emscripten/emsdk/**/java
node_modules/emscripten/emsdk/**/mingw
node_modules/emscripten/emsdk/**/spidermonkey
node_modules/emscripten/emsdk/**/binaryen
node_modules/emscripten/emsdk/**/.emscripten
node_modules/emscripten/emsdk/**/.emscripten_cache
node_modules/emscripten/emsdk/**/.emscripten_cache__last_clear
node_modules/emscripten/emsdk/**/.emscripten_sanity
node_modules/emscripten/emsdk/**/.tmp
node_modules/emscripten/emsdk/**/tmp
node_modules/emscripten/emsdk/**/gnu
node_modules/emscripten/emsdk/**/emscripten-nightlies.txt
node_modules/emscripten/emsdk/**/llvm-nightlies-32bit.txt
node_modules/emscripten/emsdk/**/llvm-nightlies-64bit.txt
node_modules/emscripten/emsdk/**/llvm-tags-32bit.txt
node_modules/emscripten/emsdk/**/llvm-tags-64bit.txt
node_modules/emscripten/emsdk/**/upstream
node_modules/emscripten/emsdk/**/emscripten-releases-tot.txt

fly.toml
